.stats-grid {
    display: grid;

    grid-template-columns:
            repeat(4, 1fr);

    gap: 20px;
}

.stat-card {
    padding: 30px;

    border-radius: 24px;

    background:
            rgba(255,255,255,0.05);

    backdrop-filter:
            blur(20px);

    border:
            1px solid rgba(255,255,255,0.08);

    box-shadow:
            0 0 40px rgba(139,92,246,0.12);
}

.stat-card h2 {
    font-size: 2rem;
    margin-bottom: 10px;
}